@model EscapeRoom.Models.CheckOut

@{
    ViewBag.Title = "CheckOut";
    string dateFormat = "MMMM dd, hh:mm tt";
    ViewBag.Banner = "../Content/Images/arcadeBanner.jpg";
}

<h2>Check Out</h2>
<div class="row">
    <div class="col-sm-3">
        <h2>@Model.session.Title</h2>
        <h4>@Model.session.Start.ToString(dateFormat)</h4>        
        <p>@string.Format("{0:C}", @Model.session.Price)</p>
        <p>@Model.numPlayers players</p>
        <em>@string.Format("{0:C}", @Model.session.Price * @Model.numPlayers) Total</em>
    </div>

    
<p>Just one more reminder that THIS IS NOT A REAL WEBSITE! You won't actually get tickets to an amazing thing here. This is just my portfolio piece. For testing purposes: use 4111111111111111. We do not store cc numbers but do confirm and send some data to Braintree.</p>
 @using (Html.BeginForm())
    {
        
        <form class="form-inline" >            
            <fieldset>
                <legend>Purchase Tickets Now</legend>
                @Html.ValidationSummary(false)
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="FirstName">First Name</label> <br />
                            @Html.TextBoxFor(m => Model.FirstName, new { id = "FirstName", @class = "form-control" }) <br />
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="LastName">Last Name</label> <br />
                            @Html.TextBoxFor(m => Model.LastName, new { id = "LastName", @class = "form-control", required = "required" }) <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Email">Email Address</label> <br />
                            @Html.TextBoxFor(m => Model.Email, new { id = "Email", type = "email", @class = "form-control", required = "required" }) <br />
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="Phone">Phone Number</label> <br />
                            @Html.TextBoxFor(m => Model.Phone, new { id = "Phone", type = "tel", @class = "form-control", required = "required" }) <br />
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="Address">Street Address</label> <br />
                            @Html.TextBoxFor(m => Model.Address, new { id = "Address", @class = "form-control", required = "required" }) <br />
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <div class="form-group">
                            <label for="Unit">Unit Number</label> <br />
                            @Html.TextBoxFor(m => Model.Unit, new { id = "Unit", @class = "form-control" }) <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="City">City</label> <br />
                            @Html.TextBoxFor(m => Model.City, new { id = "City", @class = "form-control", required = "required" }) <br />
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="State">State</label> <br />
                            @Html.DropDownListFor(m => Model.State, new SelectList(
                    new List<object> {
                       new { value="AK", text = "AK" },
                       new { value="AL", text = "AL" },
                       new { value="AR", text = "AR" },
                       new { value="AZ", text = "AZ" },
                       new { value="CA", text = "CA" },
                       new { value="CO", text = "CO" },
                       new { value="CT", text = "CT" },
                       new { value="DC", text = "DC" },
                       new {value="DE", text = "DE" },
                       new {value="FL", text = "FL" },
                       new { value="GA", text = "GA" },
                       new { value="HI", text = "HI" },
                       new { value="IA", text = "HI" },
                       new { value="ID", text = "ID" },
                       new { value="IL", text = "IL" },
                       new { value="IN", text = "IN" },
                       new { value="KS", text = "KS" },
                       new { value="KY",text = "KY" },
                       new { value="LA", text = "LA" },
                       new { value="MA", text = "MA" },
                       new { value="MD", text = "MD" },
                       new { value="ME", text = "ME" },
                       new { value="MI", text = "MI" },
                       new { value="MN", text = "MN" },
                       new { value="MO", text = "MO" },
                       new { value="MS", text = "MS" },
                       new { value="MT", text = "MT" },
                       new { value="NC", text = "NC" },
                       new { value="ND", text = "ND" },
                       new { value="NE", text = "NE" },
                       new { value="NH", text = "NH" },
                       new { value="NJ", text = "NJ" },
                       new { value="NM", text = "NM" },
                       new { value="NV", text = "NV" },
                       new { value="NY", text = "NY" },
                       new { value="OH", text = "OH" },
                       new { value="OK", text = "OK" },
                       new { value="OR", text = "OR" },
                       new { value="PA", text = "PA" },
                       new { value="RI", text = "RI" },
                       new { value="SC", text = "SC" },
                       new { value="SD", text = "SD" },
                       new { value="TN", text = "TN" },
                       new { value="TX", text = "TX" },
                       new { value="UT", text = "UT" },
                       new { value="VA", text = "VA" },
                       new { value="VT", text = "VT" },
                       new { value="WA", text = "WA" },
                       new { value="WI", text = "WI" },
                       new { value="WV", text = "WV" },
                       new { value="WY", text = "WY" },
                        }, "value", "text", new { id = "state", @class = "form-control", required = "required" }))
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="Zip">
                            <label for="Zip">Zip Code</label> <br />
                            @Html.TextBoxFor(m => Model.Zip, new { id = "Zip", @class = "form-control", required = "required" }) <br />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="CreditCard">Credit Card</label>
                            @Html.TextBoxFor(m => Model.CreditCard, new { id = "CreditCard", @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="Expiration">Exp(mmyy)</label>
                            @Html.TextBoxFor(m => Model.Expiration, new { id = "Expiration", @class = "form-control", })
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="SecCode">Sec</label>
                            @Html.TextBoxFor(m => Model.SecCode, new { id = "SecCode",  @class = "form-control" })
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <button class="btn btn-danger form-control">submit</button>
                    </div>
                </div>
            </fieldset>
        </form>

    }
</div>