@model EscapeRoom.Models.CheckOut

@{
    ViewBag.Title = "Success";
    string dateFormat = "MMMM dd, hh:mm tt";
    ViewBag.Banner = "../Content/Images/defenderfriendsToScale.jpg";

}

<h2>Success!</h2>
<p>You have booked the following Game: </p>

<div class="row">
    <div class="col-sm-3">
        <h1>@Model.session.Title</h1>
        <h4>@Model.session.Start.ToString(dateFormat)</h4>
        <p>@string.Format("{0:C}", @Model.session.Price) Per Player(s)</p>
        <p>@Model.numPlayers Player(s)</p>
        <p>@string.Format("{0:C}", @Model.session.Price * @Model.numPlayers) Total</p>
    </div>
</div>



<div class="row">
    @using (Html.BeginForm())
    { 
    <form class="form-inline">
        <fieldset>
            <legend>Register Your Team!</legend>
            @Html.ValidationSummary(false)

            @for (int i = 0; i < Model.Players.Length; i++)
            {
                <em>Player @(i+1)</em>
                <div>
                    <label for="FirstName">First Name</label>
                    @Html.TextBoxFor(m => m.Players[i].FirstName) <br />
                    <label for="LastName">Last Name</label>
                    @Html.TextBoxFor(m => m.Players[i].LastName) <br />
                    <label for="Email">Email</label>
                    @Html.TextBoxFor(m => m.Players[i].Email) <br />
                    <label for="Phone">Phone</label>
                    @Html.TextBoxFor(m => m.Players[i].Phone) <br />
                </div>
            }

            <Input type="submit" value="submit" class="btn btn-primary" />
</form>
    }
</div>
