@model EscapeRoom.Models.CheckOut

@{
    ViewBag.Title = "Success";
}

<h2>Success!</h2>
<p>You have booked the following Game: </p>

<div class="row">
    <div class="col-sm-3">
        <h2>@Model.session.Title</h2>
        <h4>@Model.session.Start</h4>
        <p>@string.Format("{0:C}", @Model.session.Price)</p>
        <p>@Model.numPlayers player(s)</p>
        <p>@string.Format("{0:C}", @Model.session.Price * @Model.numPlayers) Total</p>
    </div>
</div>



<p> Already have your team assembled? Provide us with their information and we'll contact with information about your game!</p>
<div class="row">
    @Html.BeginForm(){ 
    <form class="form-inline">
        <fieldset>
            <legend>Purchase Tickets Now</legend>
            @Html.ValidationSummary(false)

            @for (int i = 0; i < Model.Players.Length; i++)
            {
                <div>
                        <label for="FirstName">First Name</label> <br />
                        @Html.TextBoxFor(m => m.Players[i].FirstName)
                        <label for="LastName">Last Name</label> <br />
                        @Html.TextBoxFor(m => m.Players[i].LastName)
                        <label for="Email">Email</label> <br />
                        @Html.TextBoxFor(m => m.Players[i].Email)
                </div>
            }

            <Input type="submit" value="submit" class="btn btn-primary" />
    </form>
    }
</div>
