@model EscapeRoom.Models.WillCallModel

@{
    ViewBag.Title = "WillCall";
}

<h2>WillCall</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <label for="OrderQty">Quantity</label> <br />
    @Html.DropDownListFor(m => m.selection, new SelectList(Model.sessions), "")

    <Input type="submit" value="search" class="btn btn-primary" />
}

@Model.selection.Game
@Model.selection.Start
@Model.selection.Baskets



