<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Last Defender</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
</head>
<body>
    <div class="row">
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-header row">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("THE LAST DEFENDER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Box Office", "Index", "Calendar")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>

                </ul>
                @Html.Partial("_Login")
            </div>
        </div>
        <div class="image" style="position:relative;">
            @{
                if (@ViewBag.Banner == null)
                {
                    <img src="~/Content/Images/defendersBannerScaled.jpg" />
                }
                else
                {
                    <img src = "@ViewBag.Banner" />
                }
            }

                <button style="position:absolute; margin: 0,auto; bottom:1em; left:0;  text-align:center; color: orange">Get Tickets Now</button>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>The Last Defender - 1543 W Division St. Chicago, IL 60640</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/angular")
                @Scripts.Render("~/Scripts")
                @RenderSection("scripts", required: false)
            </body>
</html>
