@model EscapeRoom.Models.Session

@{
    ViewBag.Title = "Checkout";
    ViewBag.Banner = "../../Content/Images/timeIsRunningOutToScale.jpg";
}

<div class="row">
    <div class="col-sm-3">
        <h2>@Model.Id</h2>
        <h2>@Model.Game</h2>
        <h2>@Model.Price</h2>
        <h4>@Model.StartTime.ToString("ddd, MM/dd")</h4>

        
    </div>

   <div class="col-sm-6">
@using (Html.BeginForm())
{       
        @Html.HiddenFor(m => Model.Game)
        @Html.HiddenFor(m => Model.StartTime)

    <form class="form-inline">
        <legend>Purchase Tickets Right Now</legend>
        <label>First Name</label> <br />
        <input type="text" name="firstName" default="First Name"> <br />
        <label>Last Name</label> <br />
        <input type="text" name="lastName" default="Last Name"><br />
        <label>Phone Number:</label> <br />
        <input type="text" name="Phone" default="Phone Number">
        <label>Email:</label> <br />
        <input type="text" name="Email" default="Email">
        <label>Password</label> <br />
        <input type="text" name="password" default="password">
        <div class="nav-divider"></div>
        <label>Or purchase as guest...</label> <br />
        <label>How many tickets would you like?</label> <br />
        @Html.TextBoxFor(m => @Model.Id)
        <br />


        <button class="btn btn-danger">submit</button>
    </form>
}
    </div>

</div>

