<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chicago Unlocked</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
    <meta name="Chicago Unlocked" content="The description of my page" />
</head>
<body>
    <div class="row">
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-header row">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Chicago Unlocked", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Box Office", "Index", "Calendar")</li>
                    <li>@Html.ActionLink("About", "Index", "About")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }

                </ul>
                @Html.Partial("_Login")

            </div>
        </div>
        <div class="image" style="position:relative;">
            @{
                if (@ViewBag.Banner == null)
                {
                    <img src="~/Content/Images/defendersBannerToScale.jpg" alt="" />
                }
                else
                {
                    <img src="@ViewBag.Banner" alt="" />
                }
            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


    <div class="panel-footer">
        <p>Chicago Unlocked - Website by Brian Frederick</p>
        <p>Photos by Michael Brosilow - Courtesy of The House Theatre of Chicago</p>
    </div>

</body>
        @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/angular")
                @Scripts.Render("~/Scripts")
                @RenderSection("scripts", required: false)

</html>
